In [81]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.constants import m_e, e, m_u, k

from scipy.integrate import trapz
plt.style.use('/home/esteves/Documents/rcparams.mplstyle')  # A commenter

In [82]:
def maxw_E(E, T): # en eV.
    return 2 * np.pi**(-1/2) * (1/T)**(3/2) * np.sqrt(E) * np.exp(-E/T)


def rate(T, df):  # T is energy in V
    '''Calcul du rate Maxwellien'''

    integrande = maxw_E(df.Energy, T) * df.CS * np.sqrt(2*e*df.Energy/m_e)
    rate = trapz(integrande, df.Energy)
    return rate

In [83]:
## Chemin du fichier contenant les sections efficaces
File_I32='./I32_e_4excitations.txt'  

## Liste de températures électroniques [0.1,100 eV]
TT = np.logspace(-1,2,100)

## ELASTIC

In [84]:
df_I32_elastic = pd.read_csv(File_I32,nrows=2242,sep='   ',header=10,names=['Energy','CS'])
df_I32_elastic.head(2250)

<ipython-input-84-76994eaf54a4>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_I32_elastic = pd.read_csv(File_I32,nrows=2242,sep='   ',header=10,names=['Energy','CS'])

          Energy            CS
0       0.070001  1.156130e-17
1       0.080001  1.142563e-17
2       0.090001  1.120557e-17
3       0.100001  1.094662e-17
4       0.110001  1.067261e-17
...          ...           ...
2237   99.204380  4.450992e-20
2238   99.404380  4.454063e-20
2239   99.604400  4.457137e-20
2240   99.804400  4.460206e-20
2241  100.004400  4.463275e-20

[2242 rows x 2 columns]

In [85]:
m_I=126.90447*m_u
df_ELASTIC_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_ELASTIC_RATE_ENERGIES.Te=TT
df_ELASTIC_RATE_ENERGIES.rate=np.array([rate(T,df_I32_elastic) for T in TT])
df_ELASTIC_RATE_ENERGIES.energy=np.array([3*m_e/(m_I)*(T-300*k/e) for T in TT])
df_ELASTIC_RATE_ENERGIES.head(10)

         Te          rate        energy
0  0.100000  1.439429e-12  9.615761e-07
1  0.107227  1.473838e-12  1.055295e-06
2  0.114976  1.503006e-12  1.155786e-06
3  0.123285  1.526795e-12  1.263540e-06
4  0.132194  1.545121e-12  1.379080e-06
5  0.141747  1.557952e-12  1.502971e-06
6  0.151991  1.565306e-12  1.635814e-06
7  0.162975  1.567252e-12  1.778258e-06
8  0.174753  1.563904e-12  1.930996e-06
9  0.187382  1.555425e-12  2.094772e-06

In [86]:
df_ELASTIC_RATE_ENERGIES.to_csv('I_e_ELASTIC_BARTSCHAT_rates_and_energy.csv',index=False)

## EXCITATION 1

In [97]:
df_I32_excitation1 = pd.read_csv(File_I32,nrows=2159,sep='   ',header=2263,names=['Energy','CS'])
df_I32_excitation1.head(2167)

<ipython-input-97-23aea79b72e5>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_I32_excitation1 = pd.read_csv(File_I32,nrows=2159,sep='   ',header=2263,names=['Energy','CS'])

          Energy            CS
0       1.010039  2.097183e-20
1       1.020039  2.347610e-20
2       1.030039  2.575589e-20
3       1.040039  2.776003e-20
4       1.050053  2.946724e-20
...          ...           ...
2154   99.204380  6.581767e-22
2155   99.404380  6.569012e-22
2156   99.604400  6.556321e-22
2157   99.804400  6.543685e-22
2158  100.004400  6.531115e-22

[2159 rows x 2 columns]

In [99]:
df_EXCITATION1_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION1_RATE_ENERGIES.Te=TT
df_EXCITATION1_RATE_ENERGIES.rate=np.array([rate(T,df_I32_excitation1) for T in TT])
df_EXCITATION1_RATE_ENERGIES.energy=np.array([0.9426 for T in TT])
df_EXCITATION1_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  3.001727e-18  0.9426
1  0.107227  5.785060e-18  0.9426
2  0.114976  1.064291e-17  0.9426
3  0.123285  1.874804e-17  0.9426
4  0.132194  3.171283e-17  0.9426
5  0.141747  5.164851e-17  0.9426
6  0.151991  8.119123e-17  0.9426
7  0.162975  1.234820e-16  0.9426
8  0.174753  1.820923e-16  0.9426
9  0.187382  2.608923e-16  0.9426

In [100]:
df_EXCITATION1_RATE_ENERGIES.to_csv('I_e_EXCITATION1_rates_and_energy.csv',index=False)

## EXCITATION 2

In [127]:
df_I_excitation2 = pd.read_csv(File_I32,nrows=1544,sep='   ',header=4433,names=['Energy','CS'])
df_I_excitation2.head(2501)

<ipython-input-127-5cd8bead9cff>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_I_excitation2 = pd.read_csv(File_I32,nrows=1544,sep='   ',header=4433,names=['Energy','CS'])

          Energy            CS
0       7.260316  1.167290e-21
1       7.270316  1.408818e-21
2       7.280316  1.807729e-21
3       7.290316  2.328345e-21
4       7.300316  2.581452e-21
...          ...           ...
1539   99.204380  4.511865e-21
1540   99.404380  4.507415e-21
1541   99.604400  4.502968e-21
1542   99.804400  4.498533e-21
1543  100.004400  4.494106e-21

[1544 rows x 2 columns]

In [128]:
df_EXCITATION2_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION2_RATE_ENERGIES.Te = TT
df_EXCITATION2_RATE_ENERGIES.rate = np.array([rate(T,df_I_excitation2) for T in TT])
df_EXCITATION2_RATE_ENERGIES.energy = np.array([6.7736 for T in TT])
df_EXCITATION2_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  7.290049e-46  6.7736
1  0.107227  9.454731e-44  6.7736
2  0.114976  8.845162e-42  6.7736
3  0.123285  6.104143e-40  6.7736
4  0.132194  3.172851e-38  6.7736
5  0.141747  1.266432e-36  6.7736
6  0.151991  3.952001e-35  6.7736
7  0.162975  9.803519e-34  6.7736
8  0.174753  1.963235e-32  6.7736
9  0.187382  3.219513e-31  6.7736

In [129]:
df_EXCITATION2_RATE_ENERGIES.to_csv('I_e_EXCITATION2_rates_and_energy.csv',index=False)

## Excitation 3

In [154]:
df_I_excitation3 = pd.read_csv(File_I32,nrows=1486,sep='    ',header=5988,names=['Energy','CS'])
df_I_excitation3.head(2001)

<ipython-input-154-8831cef6ee4a>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_I_excitation3 = pd.read_csv(File_I32,nrows=1486,sep='    ',header=5988,names=['Energy','CS'])

          Energy            CS
0       8.630386  1.929405e-21
1       9.160406  2.426906e-21
2       9.170406  2.435271e-21
3       9.180406  2.444870e-21
4       9.190406  2.452289e-21
...          ...           ...
1481   99.204380  2.295930e-22
1482   99.404380  2.291223e-22
1483   99.604400  2.286532e-22
1484   99.804400  2.281863e-22
1485  100.004400  2.277211e-22

[1486 rows x 2 columns]

In [155]:
df_EXCITATION3_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION3_RATE_ENERGIES.Te=TT
df_EXCITATION3_RATE_ENERGIES.rate=np.array([rate(T,df_I_excitation3) for T in TT])
df_EXCITATION3_RATE_ENERGIES.energy=np.array([8.0473 for T in TT])
df_EXCITATION3_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  3.111963e-51  8.0473
1  0.107227  9.452275e-49  8.0473
2  0.114976  1.942812e-46  8.0473
3  0.123285  2.775508e-44  8.0473
4  0.132194  2.825757e-42  8.0473
5  0.141747  2.098738e-40  8.0473
6  0.151991  1.162233e-38  8.0473
7  0.162975  4.897653e-37  8.0473
8  0.174753  1.600648e-35  8.0473
9  0.187382  4.129588e-34  8.0473

In [156]:
df_EXCITATION3_RATE_ENERGIES.to_csv('I_e_EXCITATION3_rates_and_energy.csv',index=False)

## EXCITATION 4

In [187]:
df_I_excitation4 = pd.read_csv(File_I32,nrows=1,sep='   ',header=7485)#,names=['Energy','CS'])
df_I_excitation4.head(2001)

<ipython-input-187-cd3a8dce7f14>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_I_excitation4 = pd.read_csv(File_I32,nrows=1501,sep='   ',header=7485)#,names=['Energy','CS'])

                                           8.184823e+00   0.000000e+00
0                                          8.630386e+00   8.182199e-22
1                                          9.160406e+00   3.055554e-21
2                                          9.170406e+00   3.106413e-21
3                                          9.180406e+00   3.157809e-21
4                                          9.190406e+00   3.209922e-21
...                                                 ...            ...
1483                                       9.960440e+01   4.668217e-21
1484                                       9.980440e+01   4.662457e-21
1485                                       1.000044e+02   4.656714e-21
1486                      -----------------------------            NaN
1487  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx...            NaN

[1488 rows x 2 columns]

In [39]:
df_EXCITATION4_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION4_RATE_ENERGIES.Te=TT
df_EXCITATION4_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_excitation4) for T in TT])
df_EXCITATION4_RATE_ENERGIES.energy=np.array([df_Xe_excitation4.Energy[0] for T in TT])
df_EXCITATION4_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  2.910580e-67    11.7
1  0.107227  8.294324e-64    11.7
2  0.114976  1.393336e-60    11.7
3  0.123285  1.429680e-57    11.7
4  0.132194  9.261673e-55    11.7
5  0.141747  3.906363e-52    11.7
6  0.151991  1.103914e-49    11.7
7  0.162975  2.146732e-47    11.7
8  0.174753  2.945229e-45    11.7
9  0.187382  2.917802e-43    11.7

In [40]:
df_EXCITATION4_RATE_ENERGIES.to_csv('Xe_e_EXCITATION4_rates_and_energy.csv',index=False)

## IONIZATION

In [44]:
df_Xe_ionization = pd.read_csv(File_Xe,nrows=201,sep='\t',header=1107,names=['Energy','CS'])
df_Xe_ionization.head(201)

        Energy            CS
0     12.13000  0.000000e+00
1     12.13100  2.432430e-25
2     12.16514  8.548100e-23
3     12.20152  1.739660e-22
4     12.23917  2.655600e-22
..         ...           ...
196  852.52510  2.130710e-20
197  882.09360  2.080440e-20
198  912.70110  2.033490e-20
199  944.38430  1.992300e-20
200  977.18090  1.949660e-20

[201 rows x 2 columns]

In [45]:
df_IONIZATION_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_IONIZATION_RATE_ENERGIES.Te=TT
df_IONIZATION_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_ionization) for T in TT])
df_IONIZATION_RATE_ENERGIES.energy=np.array([df_Xe_ionization.Energy[0] for T in TT])
df_IONIZATION_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  1.319073e-67   12.13
1  0.107227  4.871000e-64   12.13
2  0.114976  1.036947e-60   12.13
3  0.123285  1.320785e-57   12.13
4  0.132194  1.042086e-54   12.13
5  0.141747  5.260346e-52   12.13
6  0.151991  1.750889e-49   12.13
7  0.162975  3.952281e-47   12.13
8  0.174753  6.211098e-45   12.13
9  0.187382  6.963673e-43   12.13

In [46]:
df_IONIZATION_RATE_ENERGIES.to_csv('Xe_e_IONIZATION_rates_and_energy.csv',index=False)