In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.constants import m_e, e,m_u,k

from scipy.integrate import trapz
plt.style.use('/home/esteves/Documents/rcparams.mplstyle')  # A commenter

In [2]:
def maxw_E(E, T): # en eV.
    return 2 * np.pi**(-1/2) * (1/T)**(3/2) * np.sqrt(E) * np.exp(-E/T)


def rate(T, df):  # T is energy in V
    '''Calcul du rate Maxwellien'''

    integrande = maxw_E(df.Energy, T) * df.CS * np.sqrt(2*e*df.Energy/m_e)
    rate = trapz(integrande, df.Energy)
    return rate

In [3]:
## Chemin du fichier contenant les sections efficaces
File_Xe='./Xe_e.txt'  

## Liste de températures électroniques [0.1,100 eV]
TT = np.logspace(-1,2,100)

## ELASTIC

In [5]:
df_Xe_elastic = pd.read_csv(File_Xe,nrows=199,sep='\t',header=57,names=['Energy','CS'])
df_Xe_elastic.head(199)

       Energy            CS
0      0.0000  1.220000e-18
1      0.0001  1.220000e-18
2      0.0010  1.150000e-18
3      0.0050  9.700000e-19
4      0.0070  9.110000e-19
..        ...           ...
194  840.3951  6.138300e-21
195  869.9636  6.027280e-21
196  900.5711  5.918270e-21
197  932.2543  5.811240e-21
198  965.0509  5.706150e-21

[199 rows x 2 columns]

In [6]:
m_Xe=131.293*m_u
df_ELASTIC_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_ELASTIC_RATE_ENERGIES.Te=TT
df_ELASTIC_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_elastic) for T in TT])
df_ELASTIC_RATE_ENERGIES.energy=np.array([3*m_e/(m_Xe)*(T-300*k/e) for T in TT])
df_ELASTIC_RATE_ENERGIES.head(10)

         Te          rate        energy
0  0.100000  3.509465e-14  9.294350e-07
1  0.107227  3.375409e-14  1.020021e-06
2  0.114976  3.240350e-14  1.117153e-06
3  0.123285  3.104965e-14  1.221305e-06
4  0.132194  2.969981e-14  1.332984e-06
5  0.141747  2.836172e-14  1.452733e-06
6  0.151991  2.704365e-14  1.581136e-06
7  0.162975  2.575446e-14  1.718819e-06
8  0.174753  2.450361e-14  1.866452e-06
9  0.187382  2.330130e-14  2.024753e-06

In [7]:
df_ELASTIC_RATE_ENERGIES.to_csv('Xe_e_ELASTIC_rates_and_energy.csv',index=False)

## EXCITATION 1

In [13]:
df_Xe_excitation1 = pd.read_csv(File_Xe,nrows=198,sep='\t',header=266,names=['Energy','CS'])
df_Xe_excitation1.head(201)

        Energy            CS
0      8.31500  0.000000e+00
1      8.31510  3.314210e-25
2      8.35014  1.163510e-22
3      8.38652  2.065670e-22
4      8.42417  2.545050e-22
..         ...           ...
193  765.89260  1.151160e-21
194  792.55060  1.111170e-21
195  820.14550  1.081870e-21
196  848.71010  1.056160e-21
197  878.27860  1.029550e-21

[198 rows x 2 columns]

In [20]:
df_EXCITATION1_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION1_RATE_ENERGIES.Te=TT
df_EXCITATION1_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_excitation1) for T in TT])
df_EXCITATION1_RATE_ENERGIES.energy=np.array([df_Xe_excitation1.Energy[0] for T in TT])
df_EXCITATION1_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  2.590566e-51   8.315
1  0.107227  7.101778e-49   8.315
2  0.114976  1.335724e-46   8.315
3  0.123285  1.768435e-44   8.315
4  0.132194  1.687995e-42   8.315
5  0.141747  1.187782e-40   8.315
6  0.151991  6.290640e-39   8.315
7  0.162975  2.556402e-37   8.315
8  0.174753  8.115973e-36   8.315
9  0.187382  2.046848e-34   8.315

In [21]:
df_EXCITATION1_RATE_ENERGIES.to_csv('Xe_e_EXCITATION1_rates_and_energy.csv',index=False)

## EXCITATION 2

In [19]:
df_Xe_excitation2 = pd.read_csv(File_Xe,nrows=201,sep='\t',header=474,names=['Energy','CS'])
df_Xe_excitation2.head(201)

        Energy            CS
0      9.44700  0.000000e+00
1      9.44710  1.166570e-24
2      9.48214  8.192700e-23
3      9.51852  1.265190e-22
4      9.55617  1.578770e-22
..         ...           ...
196  849.84210  6.540950e-22
197  879.41060  6.363540e-22
198  910.01810  6.190910e-22
199  941.70130  6.035660e-22
200  974.49790  5.874960e-22

[201 rows x 2 columns]

In [23]:
df_EXCITATION2_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION2_RATE_ENERGIES.Te=TT
df_EXCITATION2_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_excitation2) for T in TT])
df_EXCITATION2_RATE_ENERGIES.energy=np.array([df_Xe_excitation2.Energy[0] for T in TT])
df_EXCITATION2_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  2.408380e-56   9.447
1  0.107227  1.439637e-53   9.447
2  0.114976  5.622726e-51   9.447
3  0.123285  1.477082e-48   9.447
4  0.132194  2.681205e-46   9.447
5  0.141747  3.448209e-44   9.447
6  0.151991  3.215799e-42   9.447
7  0.162975  2.222236e-40   9.447
8  0.174753  1.160929e-38   9.447
9  0.187382  4.671209e-37   9.447

In [24]:
df_EXCITATION2_RATE_ENERGIES.to_csv('Xe_e_EXCITATION2_rates_and_energy.csv',index=False)

## Excitation 3

In [30]:
df_Xe_excitation3 = pd.read_csv(File_Xe,nrows=201,sep='\t',header=685,names=['Energy','CS'])
df_Xe_excitation3.head(201)

        Energy            CS
0      9.91700  0.000000e+00
1      9.91710  6.024080e-29
2      9.95214  2.116990e-26
3      9.98852  4.308380e-26
4     10.02617  5.095320e-23
..         ...           ...
196  850.31210  1.554590e-21
197  879.88060  1.516160e-21
198  910.48810  1.477410e-21
199  942.17130  1.439390e-21
200  974.96790  1.400040e-21

[201 rows x 2 columns]

In [31]:
df_EXCITATION3_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION3_RATE_ENERGIES.Te=TT
df_EXCITATION3_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_excitation3) for T in TT])
df_EXCITATION3_RATE_ENERGIES.energy=np.array([df_Xe_excitation3.Energy[0] for T in TT])
df_EXCITATION3_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  1.782812e-58   9.917
1  0.107227  1.588502e-55   9.917
2  0.114976  8.992590e-53   9.917
3  0.123285  3.334393e-50   9.917
4  0.132194  8.331210e-48   9.917
5  0.141747  1.440291e-45   9.917
6  0.151991  1.765873e-43   9.917
7  0.162975  1.571202e-41   9.917
8  0.174753  1.036556e-39   9.917
9  0.187382  5.172989e-38   9.917

In [32]:
df_EXCITATION3_RATE_ENERGIES.to_csv('Xe_e_EXCITATION3_rates_and_energy.csv',index=False)

## EXCITATION 4

In [38]:
df_Xe_excitation4 = pd.read_csv(File_Xe,nrows=201,sep='\t',header=896,names=['Energy','CS'])
df_Xe_excitation4.head(201)

        Energy            CS
0     11.70000  0.000000e+00
1     11.70100  6.466660e-27
2     11.73514  2.272530e-24
3     11.77152  4.624910e-24
4     11.80917  7.059970e-24
..         ...           ...
196  852.09510  1.836650e-21
197  881.66360  1.789340e-21
198  912.27110  1.742820e-21
199  943.95430  1.698460e-21
200  976.75090  1.652550e-21

[201 rows x 2 columns]

In [39]:
df_EXCITATION4_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_EXCITATION4_RATE_ENERGIES.Te=TT
df_EXCITATION4_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_excitation4) for T in TT])
df_EXCITATION4_RATE_ENERGIES.energy=np.array([df_Xe_excitation4.Energy[0] for T in TT])
df_EXCITATION4_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  2.910580e-67    11.7
1  0.107227  8.294324e-64    11.7
2  0.114976  1.393336e-60    11.7
3  0.123285  1.429680e-57    11.7
4  0.132194  9.261673e-55    11.7
5  0.141747  3.906363e-52    11.7
6  0.151991  1.103914e-49    11.7
7  0.162975  2.146732e-47    11.7
8  0.174753  2.945229e-45    11.7
9  0.187382  2.917802e-43    11.7

In [40]:
df_EXCITATION4_RATE_ENERGIES.to_csv('Xe_e_EXCITATION4_rates_and_energy.csv',index=False)

## IONIZATION

In [44]:
df_Xe_ionization = pd.read_csv(File_Xe,nrows=201,sep='\t',header=1107,names=['Energy','CS'])
df_Xe_ionization.head(201)

        Energy            CS
0     12.13000  0.000000e+00
1     12.13100  2.432430e-25
2     12.16514  8.548100e-23
3     12.20152  1.739660e-22
4     12.23917  2.655600e-22
..         ...           ...
196  852.52510  2.130710e-20
197  882.09360  2.080440e-20
198  912.70110  2.033490e-20
199  944.38430  1.992300e-20
200  977.18090  1.949660e-20

[201 rows x 2 columns]

In [45]:
df_IONIZATION_RATE_ENERGIES = pd.DataFrame(columns=['Te','rate','energy'])
df_IONIZATION_RATE_ENERGIES.Te=TT
df_IONIZATION_RATE_ENERGIES.rate=np.array([rate(T,df_Xe_ionization) for T in TT])
df_IONIZATION_RATE_ENERGIES.energy=np.array([df_Xe_ionization.Energy[0] for T in TT])
df_IONIZATION_RATE_ENERGIES.head(10)

         Te          rate  energy
0  0.100000  1.319073e-67   12.13
1  0.107227  4.871000e-64   12.13
2  0.114976  1.036947e-60   12.13
3  0.123285  1.320785e-57   12.13
4  0.132194  1.042086e-54   12.13
5  0.141747  5.260346e-52   12.13
6  0.151991  1.750889e-49   12.13
7  0.162975  3.952281e-47   12.13
8  0.174753  6.211098e-45   12.13
9  0.187382  6.963673e-43   12.13

In [46]:
df_IONIZATION_RATE_ENERGIES.to_csv('Xe_e_IONIZATION_rates_and_energy.csv',index=False)